.venv
frontend/node_modules
.env
# static
.azure/
__pycache__/
.ipynb_checkpoints/
/.vs/sample-app-aoai-chatGPT/CopilotIndices/17.12.38.29086
/.vs/sample-app-aoai-chatGPT/FileContentIndex
/.vs/sample-app-aoai-chatGPT/v17
/.vs
